.env
/backend/minio-data/
node_modules/
.pnp
.pnp.js
frontend/dist/
frontend/build/
admin/dist/
admin/build/
backend/dist
.env.local
.env.*.local
minio-data/
data/
uploads/
*.minio
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

.idea/*
!.idea/rcb-settings.xml
.vscode/
*.swp